<div class="grid justify-center mt-4">
  <div class="card shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">
        CRUD <span class="text-primary" >CLIENTE</span>
      </div>
      <div class="divider"> </div>
      <div class="grid">
        <label for="">Nombre:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: Pedro Perez" [(ngModel)]="currentCustomer.name">
        <label for="">Identificación</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: 17568888888" [(ngModel)]="currentCustomer.dni">
        <label for="">Telefono:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: 0943802115" [(ngModel)]="currentCustomer.phone">
        <label for="">Correo:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Ejemplo: pedro123@gmail.com" [(ngModel)]="currentCustomer.email">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="currentCustomer.enable"/>
            <span class="label-text ml-2">Activo</span>
          </label>
        </div>
        <label for="">Fecha  Creaccion:</label>
        <input class="input input-primary" type="date" name="" id="" [(ngModel)]="currentCustomer.created">
        <label for="">Fecha Actualizacion:</label>
        <input class="input input-primary" type="date" name="" id="" [(ngModel)]="currentCustomer.updated">
      </div>
      <div class="card-actions">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-sm">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="card card-compact bg-rose-200 shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">Zona  de peligro</div>
    </div>
    <p class="text-xs p-4" >Recuerde que luego de la eliminación no podrá recuperar la data</p>
    <div class="card-actions justify-end ">
      <button class="btn btn-warning btn-sm m-4" (click)="delete()" >Eliminar</button>
    </div>
  </div>
</div>
